<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activityresult">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cap5.Activity.EstilosActivity"></activity>
        <activity android:name=".cap5.Activity.RecycleActivity" />
        <activity android:name=".cap5.Activity.AutoCompleteActivity" />
        <activity android:name=".cap123.ComponentsActivity" />
        <activity android:name=".cap4.MaterialDesignerActivity" />
        <activity android:name=".cap4.TextViewActivity" />
        <activity android:name=".cap4.EditTextActivity" />
        <activity android:name=".cap5.Activity.VehicleActivity" />
        <activity android:name=".cap123.ActivityLinkify">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="filipe" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>